<!DOCTYPE html>
<html>
<head>
  <title>Manifesto</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= stylesheet_link_tag    'mashifesto', :media => 'all' %>
  <!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body >

<!--[if IE 9 ]>
<div id="old-browser">Unfortunately, the browser you are using is out of date, and does not support the modern web. This web app will not function correctly. <a href="http://bit.ly/17li2D3" target="_blank">More information »</a></div>
<![endif]-->

<div id="content">
  <div id="wrapper">
  </div>
</div>
<%= yield %>
</body>
</html>
